.idea
.venv
archive
datasets/*
wandb
/video_in/*
!/video_in/sample.mp4
video_out/*
runs
plate_and_face_model
face_detection_project
debug_faces
debug_faces_and_car_pates
/debug_faces_and_car_pates_v1/**
!/debug_faces_and_car_pates_v1/yolov8n_ch_2_weight_decay_0_001
!/debug_faces_and_car_pates_v1/yolov8n_ch_2_weight_decay_0_001/weights
!/debug_faces_and_car_pates_v1/yolov8n_ch_2_weight_decay_0_001/weights/best.pt
yolo11n.pt
yolo11n-seg.pt
yolo11s-seg.pt
yolo12n.pt
yolov8l-seg.pt
yolov8m-seg.pt
yolov8n-seg.pt
yolov8s.pt
yolov8s-seg.pt

